.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(64, 154, 184);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  grid-template-columns: 1fr;
  margin-bottom: 20px;
}

@media (min-width: 600px) {

  .search-notes {
    min-width: calc(100% - 250px);
  }
}
