.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(64, 154, 184);
  color: white;
  grid-template-columns: 1fr;
  margin: 0;
  padding-left: 20px;
}

@media (max-width: 436px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 1.3em;
  }
}
