
.note-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

h2 {
    margin: 0;
  }

.note-item .note-date {
  font-size: 12px;
  color: #666;
  background-color: #dfd1d1;
  width: fit-content;
  border-radius: 8px;
  padding: 2px 5px;
}

.note-footer {
  display: flex;
  justify-content:flex-end;
  margin-top: auto;
}

.edit-btn{
    background-color: #3db45b;
}

.delete-btn {
  background-color: #e74c3c;
}

.note-footer button {
  visibility: hidden;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  color: white;
  margin-left: 8px;
}

.note-item:hover .note-footer button {
  visibility: visible;
}

.note-footer button:hover {
  background: black;
  cursor: pointer;
  transition: 0.5s ease;
}

